@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-size: 18px;
}
body {
	font-size: 1rem;
	background-color: black;
}

html,
body,
canvas {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
}

#fullscreenButton {
	position: absolute;
	padding: 10px 15px;
	top: 0;
	right: 0;
	text-decoration: underline;
	cursor: pointer;

	color: white;
	font-size: 1rem;
	font-size: calc(clamp(16px, 5vmin, 26px));

	transition: opacity 0.5s ease;
}

#controls {
	display: flex;
	flex-direction: column;
	padding: 1rem;

	position: absolute;
	bottom: 1rem;
	left: 1rem;
	width: calc(100% - 2rem);
	height: calc(70% - 2rem);
	max-width: 20rem;
	max-height: 30rem;

	background: #ffffff;
	border-radius: 1rem;

	backdrop-filter: blur(1rem);

	opacity: 1;
	transform: translate(0, 0);
	transition: opacity 0.25s ease, transform 0.25s ease;
}

#controls.hidden {
	opacity: 0;
	transform: translate(-50%, 0);
}

.controlGroup {
	border: 3px dotted rgba(0, 0, 0, 0.25);
	border-radius: 0.75rem;
	padding: 0.5rem;
}
.controlGroup:focus-within {
	border-color: rgba(0, 0, 0, 0.5);
	border-style: solid;
}

input[type="range"] {
	width: 100%;
	/* appearance: none; */
}